version: "3"
services:
  app:
    build: app
    volumes:
      - ./data:/data
    stdin_open: true
    tty: true
  notebook:
    image: notebook
    ports:
      - "8888:8888"
    volumes:
      - .:/home/jovyan/work
