version: "3"
services:
  app:
    build: app
    volumes:
      - ./data:/data
    stdin_open: true
    tty: true
  notebook:
    image: jupyter/tensorflow-notebook
    ports:
      - "8888:8888"
    volumes:
        - ./app:/app
        -./data:/data
